@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* Import for goolge font*/
/* @keyframes slideInFromLeft {
    0% {
        
    }
    100% {
       
    }}   */
    


/*Combined, just on page refresh*/

  
 
* {
    box-sizing: border-box;
}

.Menu{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color:white;
    background-color: #000000;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 10%;
}
.photo{
    height:75px;
    width:20%;
}

/*this is the fix for full length*/
/* .css-hnes9q {
    --chakra-sizes-prose: null; 
} */

.nav {
    color: #fff;
    padding-right: 100px;;
   
    font-weight: 100;
    background: #000000;
    font-family: 'Raleway', sans-serif;
    animation: 3s ease-out 0s 1 slideInFromLeft;
    -webkit-animation: 3s ease-out 0s 1 slideInFromLeft;
    -moz-animation: 3s ease-out 0s 1 slideInFromLeft;
    -o-animation: 3s ease-out 0s 1 slideInFromLeft;
    -ms-animation: 3s ease-out 0s 1 slideInFromLeft;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 3rem;
    padding: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 23pt;
    
}

.Footer ul {
    list-style: none;
    gap: 2rem;
}
.nav a {
    color: inherit;
    display: flex; 
    align-items: center; 
    padding: .25rem;
}

.nav button:hover{
    font-weight: bold;
}
.nav li.active{
    background-color:#555;
}

.nav li:hover{
    font-weight: bold;
}
.Footer li:hover {
    font-weight: bold;
    scale: 1.1 ;
    text-shadow: #fff 0px 0px 10px;

}
.Footer li {
 
    margin-top: 15px;
    margin-bottom: 15px;
}

.Contact, .Login, .Register {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 25px;
   
}

.Contact, .Login {
    padding-top: 5rem;
}

.Register {
    padding-top: 0.5rem;
}

.Contact input, .Login input, .Register input {
    width: stretch;
    height: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:black;
    background-color: #fff;
}

.Contact textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:black;
    background-color: #fff;
}

.Banner{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.DiscoveryOurStory{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlayCursive{
    font-family: 'Great Vibes', cursive;
    font-size: 40pt;
    color: tan;
    margin-bottom: 38%;
    position: absolute;
    z-index: 102;
 
}

.overlayHeading{
    color: white;
    position: absolute;
  
    font-weight: bold;
    font-size: 30pt;
    z-index: 101;
}

.overlay {
    color:white;
    
    position: absolute;
    margin-top: 6.5%;
    text-align: center;
    padding-top: 7%;
   
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Raleway', sans-serif;
    z-index: 100;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}



.wave{
    
    position: relative;
    transform: scale(1, 1);
}

.wave::after{
    content:'';
    position: absolute;
   
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 300px;
    background:#000000;
    clip-path: ellipse(100% 20% at 100% 100%);
} 

.Footer{
    position: relative;
    bottom: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.team-text{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    opacity: 100%;

}

.OurTeam{
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;  
    background-color: black;
    padding-bottom: 10%;
}
.OurTeamBox{
    justify-content: center;
    align-items: center;
    padding: 5%;
    height:100%;
    border-radius: 25px;
    border: white 2px solid;
    color: white;
    text-align: center;
    margin: 5%;
    display: grid;
   
   
}
/*this is the fix for full length*/
.css-vhc7ah{
    --chakra-sizes-prose: null;
}

.round-picture{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 2%;
   filter: drop-shadow(15px 12px 15px #000000);
   border: white 2px solid;
 }





.SliderContent{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
   position: absolute;
  
   width:75%;

}
.SliderHeading{
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 2px 4px #000000;
    color:white;
    
    text-align: left;
    z-index: 102;
    
}

.line {
    border-top: 2px solid black;
    width: 100%; /* Adjust width as needed */

  }
.SliderOverlay {
    color:rgb(255, 255, 255);
    width: 75%;
    position: absolute;
    margin-top: 2%;
    text-align: left;
    padding-top: 1%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Raleway', sans-serif;
    font-size: large;
    z-index: 100;
}

.SliderImage{
    height: 800px;
    width: 100%;
    margin-bottom: 0%;
   

}
#login-form-box{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 25px;
    border: tan 2px outset;
    color: white;
    padding: 5%;
    display: grid;
    background-color: black;
 
}

/* #paypal-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px; 
    margin: auto;
}

.paypal-button {
    background-color: #FFC439; 
    color: #333; 
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.paypal-button.venmo {
    background-color: #3D93F8; 
}

.paypal-button.credit-card {
    background-color: #333; 
    color: #fff; 
}

.paypal-button:hover {
    opacity: 0.8;
} */



